.counter-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.counter-container h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 0 16px;
    color: #333;
}

.counter-button {
    background-color: #ca90c3;
    color: #5a5757;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.counter-button:hover {
    background-color: #945baf;
}

.counter .add-to-cart {
    background-color: #f1ca03;;
    margin-top: 20px;
    font-size: 18px;
    padding: 12px 24px;
}

.counter .add-to-cart:hover {
    background-color: #464947;
}